<div class="recent-posts">
  <h4> Other Posts </h4>
  <ul class="pager">
  {% if page.previous %}
    <!-- <li class="previous"><a id="prevPostBtn" href="{{ page.previous.url }}">&larr; Older</a></li> -->
    <p>
      <a id="prevPostBtn" href="{{ page.previous.url }}">
        {{  page.previous.title  }}
      </a>
    </p>
  {% endif %}
  {% if page.next %}
    <!-- <li class="next"><a id="nextPostBtn" href="{{ page.next.url }}">Newer &rarr;</a></li> -->
    <p>
      <a id="nextPostBtn" href="{{ page.next.url }}">
        {{  page.next.title  }}
      </a>
    </p>
  {% endif %}
  </ul>
</div>