    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/resources/images/main/photo-of-woman-sitting-near-body-of-water-2604845.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          {% for post in site.posts limit: 1 %}
            {{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">Read More</button></a>
          {% endfor %}
      </div>
    </div>
    <div class="container">
