---
layout: default
---
<div id="article">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>
  </p> <hr/>
  <span>
    <a id="koUrl" href=""><img src="/resources/images/icon/32px-Flag_of_South_Korea.png"></a>
    <a id="jpUrl" href=""><img src="/resources/images/icon/32px-Flag_of_Japan.png"> </a>
  </span>
  <hr/>
  <div class="post">
    {{ content }}
  </div>
  <input type="hidden" value="{{ page.lang }}" id="postLang" />
</div>
{% include share.html %}
{% include pager.html %}
<!-- {% include comment.html %} -->
