---
layout: default
---
<div id="article">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small id="postDate">
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>
  </p> <hr/>
  <span>
    <a id="homeUrl" href="{{ site.baseurl }}/">Home</a>
    >
    <a id="categoryUrl" href="{{ site.baseurl }}/{{ site.category_dir }}">Category</a>
    >
    <a id="postCategoryUrl" href="{{ site.baseurl }}/{{ site.category_dir }}"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a id="koPostUrl" href=""><img src="/resources/images/icon/32px-Flag_of_South_Korea.png"></a>
    <a id="jpPostUrl" href=""><img src="/resources/images/icon/32px-Flag_of_Japan.png"> </a>
  </span>
  <hr/>
  <div class="post">
    {{ content }}
  </div>
</div>
{% include pager.html %}